NodeRed/Flow MKRENV.json
[{"id":"b333251c.1c72b8","type":"tab","label":"Flow MKRENV","disabled":false,"info":""},{"id":"4cbefcda.8f08a4","type":"debug","z":"b333251c.1c72b8","name":"Debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":180,"wires":[]},{"id":"3ee53215.005fd6","type":"mqtt in","z":"b333251c.1c72b8","name":"Mqtt Subscription","topic":"/mkr1000_2/#","qos":"2","datatype":"auto","broker":"683b0a7d.fbc7e4","x":160,"y":180,"wires":[["4cbefcda.8f08a4","1660792e.febe37"]]},{"id":"3b7f2d96.ed157a","type":"influxdb out","z":"b333251c.1c72b8","influxdb":"e18556a1.2b1098","name":"InfluxDB Input","measurement":"","precision":"","retentionPolicy":"","x":510,"y":320,"wires":[]},{"id":"1660792e.febe37","type":"function","z":"b333251c.1c72b8","name":"Split topics","func":"msg.measurement = msg.topic\nmsg.payload = parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["a076b1e9.4dd54","3b7f2d96.ed157a"]]},{"id":"a076b1e9.4dd54","type":"debug","z":"b333251c.1c72b8","name":"Insert Test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":440,"wires":[]},{"id":"683b0a7d.fbc7e4","type":"mqtt-broker","z":"","name":"curso-iot:1883","broker":"curso-iot","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":"","info":"MQTT Subscription"},{"id":"e18556a1.2b1098","type":"influxdb","z":"","hostname":"rpilisardogayan","port":"8086","protocol":"http","database":"topics","name":"","usetls":false,"tls":""}]