NodeRed/relays.json
[{"id":"e6f50142.15eaa8","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"b1d7af4b.4bf8c","type":"ui_switch","z":"e6f50142.15eaa8","name":"Relay 2","label":"Relay 2","tooltip":"","group":"e32ae6b7.c6d4","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"homie/mkr1000/mkrrelay/relay_2/set","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":260,"wires":[["373cc65f.a4c7ca","e224895.2e2acf8"]]},{"id":"8c974702.ea5ed8","type":"ui_switch","z":"e6f50142.15eaa8","name":"Relay 1","label":"Relay 1","tooltip":"","group":"e32ae6b7.c6d4","order":1,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"homie/mkr1000/mkrrelay/relay_1/set","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":100,"wires":[["373cc65f.a4c7ca","e224895.2e2acf8"]],"info":"# "},{"id":"373cc65f.a4c7ca","type":"debug","z":"e6f50142.15eaa8","name":"Debug Relays","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":40,"wires":[]},{"id":"bae63680.b9dcc8","type":"mqtt out","z":"e6f50142.15eaa8","name":"MqttRelays","topic":"","qos":"0","retain":"true","broker":"541abab2.a3627c","x":850,"y":180,"wires":[]},{"id":"e224895.2e2acf8","type":"change","z":"e6f50142.15eaa8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"HIGH","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"LOW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["bae63680.b9dcc8","719c5510.089b1c"]]},{"id":"719c5510.089b1c","type":"debug","z":"e6f50142.15eaa8","name":"Debug Switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"7525e770.bad888","type":"mqtt in","z":"e6f50142.15eaa8","name":"Relay 1 Mqtt","topic":"homie/mkr1000/mkrrelay/relay_1","qos":"0","datatype":"auto","broker":"541abab2.a3627c","x":150,"y":460,"wires":[["1d848647.ca7eba"]]},{"id":"560a0bf6.f59b3c","type":"mqtt in","z":"e6f50142.15eaa8","name":"Relay 2 Mqtt","topic":"homie/mkr1000/mkrrelay/relay_2","qos":"0","datatype":"auto","broker":"541abab2.a3627c","x":150,"y":600,"wires":[["c315fdd6.5dfde8"]]},{"id":"97baa479.0f1248","type":"ui_text","z":"e6f50142.15eaa8","group":"e32ae6b7.c6d4","order":2,"width":"0","height":"0","name":"Relay 1 Monitoring","label":"Relay 1 Monitoring","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"38050500.dfd84a","type":"ui_text","z":"e6f50142.15eaa8","group":"e32ae6b7.c6d4","order":4,"width":"0","height":"0","name":"Relay 2 Monitoring","label":"Relay 2 Monitoring","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":790,"y":620,"wires":[]},{"id":"d48d7a6a.f8c268","type":"change","z":"e6f50142.15eaa8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["97baa479.0f1248"]]},{"id":"1d848647.ca7eba","type":"switch","z":"e6f50142.15eaa8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HIGH","vt":"str"},{"t":"eq","v":"LOW","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":460,"wires":[["d48d7a6a.f8c268"],["91149916.89958"]]},{"id":"4b90af2e.a9e5b8","type":"change","z":"e6f50142.15eaa8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["38050500.dfd84a"]]},{"id":"c315fdd6.5dfde8","type":"switch","z":"e6f50142.15eaa8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HIGH","vt":"str"},{"t":"eq","v":"LOW","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":620,"wires":[["4b90af2e.a9e5b8"],["a1a1230f.48ad"]]},{"id":"91149916.89958","type":"change","z":"e6f50142.15eaa8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["97baa479.0f1248"]]},{"id":"a1a1230f.48ad","type":"change","z":"e6f50142.15eaa8","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["38050500.dfd84a"]]},{"id":"e7157153.63e9e8","type":"comment","z":"e6f50142.15eaa8","name":"","info":"This panel controls de relays in the MKR RELAY module. Also it monitorizes their state.","x":1000,"y":300,"wires":[]},{"id":"e32ae6b7.c6d4","type":"ui_group","z":"e6f50142.15eaa8","name":"Relays","tab":"f894a3.e12de36","disp":true,"width":"6","collapse":true},{"id":"541abab2.a3627c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.40","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f894a3.e12de36","type":"ui_tab","z":"","name":"Relays","icon":"dashboard","disabled":false,"hidden":false}]